# PostgreSQL connection
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

# Service-specific database names
ORDER_DB_NAME=order_db
SUPPLIER_DB_NAME=supplier_db
MANUFACTURE_DB_NAME=manufacture_db